@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Belanosima", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  color: #00425a;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.navegador {
  background-color: #eff5f5;
}

.navegador-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #1f8a70;
}

.menu-mobil {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  position: absolute;
  background-color: #eff5f5;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.2s ease;
  z-index: 10;
}

.navbar-link {
  color: #1f8a70;
}

#navegador-header:target .navbar-container {
  height: 300px;
}

#navegador-header:target .abrir {
  display: none;
}

#navegador-header:target .cerrar {
  display: flex;
}

.cerrar {
  display: none;
}

.contenedor-titulo {
  width: 100%;
  height: 14rem;
  background-image: url(imagenes/aula-untrefschool.jpg);
  background-attachment: fixed;
  background-size: 150%;
}

.contenedor-titulo h1 {
  font-size: 2.5rem;
  color: #fc7300;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px black;
}

#quienes-somos {
  width: 100%;
  height: auto;
  background-color: #00425a;
  text-align: center;
  color: #eff5f5;
  padding: 10%;
}

#por-que-elegirnos {
  width: 100%;
  height: auto;
  background-color: #1f8a70;
  text-align: center;
  color: #eff5f5;
  padding: 10%;
}

#propuesta-educativa {
  width: 100%;
  height: auto;
  background-color: #00425a;
  text-align: center;
  color: #eff5f5;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.educacion-bilingue,
.educacion-deportiva,
.educacion-sostenible {
  background-color: #eff5f5;
  padding: 30px 30px;
  color: #fc7300;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10%;
}

#ultimas-noticias {
  width: 100%;
  height: auto;
  background-color: #eff5f5;
  text-align: center;
  color: #185f4c;
  padding: 5%;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #181823;
  text-align: center;
  color: #eff5f5;
  padding: 5%;
}

#redes-sociales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 5%;
}

#redes-sociales img {
  transition: all 300ms;
}

#contactos {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 90%;
  margin: 5%;
}

#contactos a {
  color: #fc7300;
}

#boton-escribenos {
  display: inline;
  padding: 10px 20px;
  color: #eff5f5;
  background-color: #fc7300;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
}

.contenedor-formulario-de-contacto {
  width: 100%;
  background-color: #181823;
  max-height: 100%;
}

#titulo-formulario {
  text-align: center;
  color: #eff5f5;
}

.formulario-contacto {
  max-width: 90%;
  margin: 0 auto;
  background-color: #eff5f5;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.formulario-contacto input[type="submit"] {
  background-color: #1f8a70;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.footer-formulario {
  text-align: center;
  padding: 20px;
  background-color: #181823;
  color: #eff5f5;
  min-height: 20rem;
}

@media (min-width: 768px) {
  .navegador {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #1f8a70;
  }
  .navbar-container {
    height: auto;
    flex-direction: row;
    position: static;
    width: 60%;
  }
  .menu-cel {
    display: none;
  }
  .navegador-header {
    border-bottom: none;
  }
  .navbar-item {
    text-align: center;
  }
  .navbar-link:hover {
    color: #185f4c;
    font-weight: 600;
  }

  .contenedor-titulo {
    height: 40rem;
    background-size: cover;
  }

  .contenedor-titulo h1 {
    font-size: 6em;
    color: #ff7300;
    top: 50%;
  }

  #redes-sociales img:hover {
    transform: scale(1.4);
  }

  #contactos a:hover {
    color: #fca864;
  }

  #boton-escribenos:hover {
    background-color: #fca864;
  }
  .formulario-contacto input[type="submit"]:hover {
    background-color: #185f4c;
  }
  .formulario-contacto {
    max-width: 600px;
  }

  #propuesta-educativa {
    height: auto;
    flex-direction: column;
  }

    #propuesta-educativa img {
    width: 10em;
    margin: 0 auto;
  }

  .propuestaseducativas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .educacion-bilingue,
  .educacion-deportiva,
  .educacion-sostenible {
  padding: 20px 20px;
  margin: 3% 3%;
}

  .contenedor-redes {
    display: flex;
    justify-content: space-between;
  }
  .contenedor-contacto,
  .contenedor-institucion,
  .contenedor-redessociales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-redes div {
    flex-basis: 0;
    flex-grow: 1;
  }

  .footer {
    padding: 2%;
  }

  #contactos {
    align-content: center;
  }

  #redes-sociales {
    align-items: center;
    width: 70%;
  }
}
